{% extends 'base.html' %}

{% block titulo %} Cadastro {% endblock %}

{% block conteudo %}

<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Criar conta</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="{% url 'cadastro' %}" method="post">
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                {% csrf_token %}
                                <label for="nome_receita"><b>Nome completo</b></label>
                                <input type="text" class="form-control" name="nome" placeholder="Ex.:Anderson Iwanezuk" required>
                            </div>
                            <div class="col-12 col-lg-12">
                                <label for="email"><b>Email</b></label>
                                <input type="email" class="form-control" name="email"
                                    placeholder="Ex.: iwanezuk@churras.com" required>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="senha"><b>Senha</b></label>
                                <input type="password" class="form-control" name="senha" placeholder="Digite sua senha" required>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="senha2"><b>Confirmação de senha</b></label>
                                <input type="password" class="form-control" name="senha2" placeholder="Digite sua senha novamente" required>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-success">Criar sua conta</button>
                                <button type="button" class="btn btn-danger" onclick="cancelar();">Cancelar cadastro</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function cancelar(){
        location.href = "{% url 'index' %}";
    }
</script>

{% endblock %}